/* Statistics */
.stats {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  margin: 20px 0; 
}

.stat-container {
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 10px; 
  flex: 1; 
  min-width: 150px; 
  border: 2px solid lightblue;
  border-radius: 5px; 
  padding: 10px; 
}

.stat-value {
  display: block;
  font-size: 30px; 
  margin-bottom: 5px;
  font-weight: bold;
  color: yellow;
}

.stat-label {
  font-size: 20px;
  color: whitesmoke;
  font-family: "Helvetica", "sans-serif";
}

/* Date Range */
#date-range-display{
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  position: relative;
}

#date-range-display::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 5px;
  background: yellow;
  z-index: 0;
}

#date-range-label, #date-range {
  background-color: rgb(37, 37, 37);
  z-index: 1;
  position: relative;
}

#date-range-label {
  padding-left: 20px;
  letter-spacing: 1px;
}

#date-range {
  font-weight: bold;
  letter-spacing: 3px;
  padding-right: 20px;
}

/* Date Container */
.datepicker-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 10px 0; 
  gap: 30px;
}

/* Date Picker */
#start-date-picker input , #end-date-picker input {
  text-align: center;
  justify-content: center;
  background-color: yellow;
  font-size: 17px;
  color: black;
  font-weight: bolder;
  letter-spacing: -1px;
  font-family: "Roboto Mono", "sans-serif";
}

/* Date Slider */
.date-range-slider {
  width: 80%; 
  margin: 10px 0; 
  padding-right: 40px;
  font-family: "Helvetica", "sans-serif";
    
}
  
.date-range-slider .rc-slider-track {
  background-color: lightblue !important;  /* filled portion */
  height: 15px;
}

.date-range-slider .rc-slider-handle {
  border-color: black !important;
  background-color: yellow !important;
  height: 20px;
  width: 20px;
  margin-bottom: -2px;
}

.date-range-slider .rc-slider-rail {
  background-color: rgb(117, 117, 117) !important;  /* unfilled portion */
  height: 15px;
}

.date-range-slider .rc-slider-mark-text {
  white-space: nowrap;
  font-size: 20px;
  color: white;
}

/* Date - Submit */
#submit-button{
  font-size: 20px;
  background-color: yellow;
  color: black;
  padding: 10px 100px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bolder;
  letter-spacing: 2px;
}

#submit-button:hover{
  font-size: 20px;
  background-color: lightblue;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Chloropleth and Tree Container */
#ct-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* Chloropleth Map */
#chloropleth-map-container {
  flex: 60%; 
  display: flex;
}

/* Tree Map */
#treemap-container{
  flex: 40%; 
  display: flex;
  margin-top: 20px;
}

#treemap {
  height: 100%; 
}

/* Line Graph */
.linegraph-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -50px;
}

#linegraph-label {
  font-size: 30px;
  color: yellow;
  padding-bottom: 10px;
  border-style: solid; 
  border-width: 0 0 5px 0;
  border-image: repeating-linear-gradient(
      to right, 
      white 0px,
      white 40px,
      rgba(0, 0, 0, 0) 40px,
      rgba(0, 0, 0, 0) 80px
  ) 5;
}

#linegraph-radioitems {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  font-size: 20px;
}

#linegraph-radioitems input[type="radio"] {
  margin-right: 5px; /* Space between radio button and label */
}

#linegraph-radioitems label {
  font-size: 25px; /* Adjust font size as needed */
  color: white; 
  margin-right: 25px;
}

.linegraph-radioitems-container label {
  cursor: pointer;
}

#linegraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

#linegraph {
  width: 90%;
  height: auto;
}

/* Stacked Bar */
#stackedbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin-top: -20px; */
}

#stackedbar-label {
  font-size: 30px;
  color: yellow;
  padding-bottom: 10px;
  border-style: solid; 
  border-width: 0 0 5px 0;
  border-image: repeating-linear-gradient(
      to right, 
      white 0px,
      white 40px,
      rgba(0, 0, 0, 0) 40px,
      rgba(0, 0, 0, 0) 80px
  ) 5;
}

#stackedbar-filter-container{
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.Select--multi .Select-control .Select-value-label,
.Select-menu-outer,
.Select-option {
  color: black !important;
  font-size: 20px;
}

#stackedbar-filter-icon {
  font-size: 30px; 
  color: white;  
}

#stackedbarchart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

#severity-weather-stacked-bar {
  width: 90%;
  height: auto;
  margin-bottom: 80px;
}