/* App */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(37, 37, 37);
}

/* Style for the navigation bar */
.navbar {
    background-color: inherit;
    display: flex;
    align-items: flex-end;
    padding: 10px 0; 
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    border-style: solid; 
    border-width: 0 0 10px 0;
    border-image: repeating-linear-gradient(
        to right, 
        yellow 0px,
        yellow 40px,
        rgba(0, 0, 0, 0) 40px,
        rgba(0, 0, 0, 0) 80px
    ) 5;
}

.nav-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
    background-color: rgb(255, 255, 158);
}

.nav-link.active{
    background-color: inherit;
    color: yellow;
    text-decoration: underline;
    text-underline-offset: 7px;
}

/* Total Accidents */
.total-accidents {
    float: right;
    margin-left: auto;
    color: white; 
    padding: 14px 16px; 
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    pointer-events: none;
    font-weight: bold;
}

.total-accidents:hover {
    background-color: inherit; 
    color: inherit;
}

.total-accidents-value {
    color: yellow;
}

/* Title */
.title {
    float: right;
    margin-left: auto;
    color: rgb(210, 235, 255); 
    padding: 14px 16px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    pointer-events: none;
}

.title:hover {
    background-color: inherit; 
    color: inherit;
}

/* Main Content */
.main-content {
    padding: 20px;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}